.App {
  text-align: center;
}

.img {
  background-image: url("traffic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100%;
  opacity: 0.85;
}

.img2 {
  background-image: url("traffic.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  min-height: 100%;
}

.title {
  margin-top: 50px;
  color: rgb(140, 144, 147);
}

.form {
  margin-top: 50px;
  background-color: #242628;
  padding: 75px;
  width: 50%;
}

@media (max-width: 900px){
  .but {
    margin-top: 55px;
    margin-right: 10px;
    margin-left: 10px;
  }
} 

@media (min-width: 901px){
  .but {
    margin-top: 106px;
    margin-right: 10px;
    margin-left: 10px;
  }  
} 


.text {
  margin-top: 50px;
  background-color: #242628;
  padding: 65px;
  color: white;
}

@media (max-width: 900px){
  .form {
    margin-top: 50px;
    background-color: #242628;
    padding: 75px;
    width: 80%;
  }
}  

footer {
  margin-top: 220px;
  color: rgb(140, 144, 147);
  bottom: 0;
}

@media (max-width: 900px){
  .signinfoot {
    margin-top: 237px;
    bottom: 0;
  }
} 

@media (min-width: 901px){
  .signinfoot {
    margin-top: 327px;
    bottom: 0;
  }
}

@media(min-width: 900px){
    footer {
    margin-top: 132px;
    bottom: 0;
  }
}

@media(min-width: 768px) {
      footer {
    margin-top: 157px;
    bottom: 0;
  }
}

@media (max-width: 767px){
  footer {
    margin-top: 135px;
    bottom: 0;
  }
} 